<p-toast></p-toast>

<div class="sub-category-header" *ngIf="currentSubCategory">
    <div class="flex-header-info">
        <ng-container *ngIf="currentSubCategory.imageUrl; else noImage">
            <img [src]="currentSubCategory.imageUrl" 
                 class="sub-cat-img" 
                 (error)="currentSubCategory.imageUrl = ''"
                 alt="Subcategory Image">
        </ng-container>

        <ng-template #noImage>
            <div class="placeholder-gradient">
                <i class="pi pi-sparkles sparkles-icon"></i>
            </div>
        </ng-template>

        <div class="text-info">
            <h1>{{ currentSubCategory.subCategoryName }}</h1>
            <p>{{ currentSubCategory.subCategoryDescription }}</p>
        </div>
    </div>
</div>

<p-dataView #dv [value]="products" layout="list">
    <ng-template pTemplate="list" let-items>
        <div class="list-layout">
            @for (item of items; track item.productId) {
                <div class="product-selection-row" [class.selected]="selectedProduct === item">
                    <p-radiobutton name="productGroup" 
                                   [value]="item" 
                                   [(ngModel)]="selectedProduct">
                    </p-radiobutton>

                    <div class="product-details">
                        <span class="name">{{ item.productName }}</span>
                    </div>
                    
                    <div class="price-section">
                        <span class="price">{{ item.price }} ₪</span>
                    </div>
                </div>
            }
        </div>
    </ng-template>
</p-dataView>

<div class="button-container">
    <p-button label="Add to Cart" 
              icon="pi pi-shopping-cart"
              [disabled]="!selectedProduct" 
              (click)="addToCart()">
    </p-button>
</div>