<div class="register-container shop-layout">
    <div class="content-wrapper">

        <div class="page-title-section">
            <h1><b>{{ mainCategoryName }}</b></h1>
            <h3>Choose a sub-category to view our products</h3>
        </div>

        <p-dataview #dv [value]="subCategories" [layout]="layout" [paginator]="true" [rows]="6" [sortField]="sortField"
            [sortOrder]="sortOrder">

            <ng-template #header>
                <div class="flex-header">
                    <div></div>
                    <div class="controls">
                        <p-select [options]="sortOptions" placeholder="Sort by" (onChange)="onSortChange($event)"
                            styleClass="sort-select" />

                        <p-selectbutton [(ngModel)]="layout" [options]="['list', 'grid']" [allowEmpty]="false">
                            <ng-template #item let-item>
                                <i class="pi"
                                    [ngClass]="{ 'pi-bars': item === 'list', 'pi-table': item === 'grid' }"></i>
                            </ng-template>
                        </p-selectbutton>
                    </div>
                </div>
            </ng-template>

            <ng-template #grid let-items>
                <div class="grid-layout">
                    @for (sub of subCategories; track sub.subCategoryId) {
                    <div class="sub-category-card">
                        <div class="image-container">
                            <img [src]="sub.imageUrl" [alt]="sub.subCategoryName">
                        </div>
                        <div class="card-info">
                            <h3>{{ sub.subCategoryName }}</h3>
                            <p>{{ sub.subCategoryDescription }}</p>
                            <div class="item-actions">
                                <button pButton class="p-button"
                                    [routerLink]="['/sub-category', sub.subCategoryId]">More
                                    details</button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </ng-template>

            <ng-template #list let-items>
                <div class="list-container">
                    @for (sub of items; track sub.subCategoryId) {
                    <div class="product-row-item">
                        <div class="item-main-content">
                            <div class="list-image-wrapper">
                                <img [src]="sub.imageUrl" [alt]="sub.subCategoryName">
                            </div>

                            <div class="item-text-details">
                                <span class="item-name">{{ sub.subCategoryName }}</span>
                                <p class="item-description">{{ sub.subCategoryDescription }}</p>
                            </div>
                        </div>
                        <div class="item-actions">
                            <button pButton class="p-button" [routerLink]="['/sub-category', sub.subCategoryId]">More
                                details </button>
                        </div>
                    </div>
                    }
                </div>
            </ng-template>
        </p-dataview>
    </div>
</div>