<div class="not-found-wrapper">
    <div class="content-container">
        <div class="image-section">
            <img src="images/404-.png" alt="404 Not Found" class="main-img">
        </div>

        <div class="text-section">
            <h1>Oops! It looks like you got lost in space...</h1>
            <p>The page you are looking for does not exist or has been moved to a different address.</p>
            
            <p-button 
                label="Back to safety" 
                icon="pi pi-arrow-right" 
                iconPos="right"
                (onClick)="goHome()" 
                class="home-btn">
            </p-button>
        </div>
    </div>
</div>