$bg-color: #f9f5ff;
$primary-purple: #8139eb;
$accent-purple: #F6E8FE;
$shadow-color: #9d58f51a;
$error-red: #ff0000;

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $bg-color;
    padding: 20px;

    ::ng-deep {
        .p-tablist-active-bar {
            background: $primary-purple !important;
            height: 3px !important;
        }

        .p-card {
            width: 100%;
            max-width: 500px;
            min-height: 550px;
            border-radius: 12px;
            box-shadow: 0 8px 30px $shadow-color;
            border: 1px solid $primary-purple;
            background-color: white;
        }

        .p-tablist-tab-list {
            border-bottom: 2px solid $accent-purple !important;
        }

        .p-tab {
            flex: 1;
            justify-content: center;
            color: $primary-purple !important;

            &.p-tab-active {
                color: $primary-purple !important;
                border-color: $primary-purple !important;
            }
        }
    }
}

.form-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 0;
}

.name-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.form-field {
    width: 100%;

    input,
    .p-password,
    ::ng-deep .p-inputtext {
        width: 100% !important;
        border-color: $primary-purple !important;

        &:focus {
            border-color: $primary-purple !important;
            box-shadow: 0 0 0 0.2rem $shadow-color !important;
        }
    }
}

.button-container {
    ::ng-deep .p-button {
        width: 100%;
        background: linear-gradient(135deg, $primary-purple 0%, #bd00cb 100%);
        border: none;
        padding: 14px;
        font-size: 1.1rem;
        transition: all 0.3s ease;

        &:hover {
            background: $primary-purple;
            border: $primary-purple;
            transform: translateY(-0.5px);
            box-shadow: 0 4px 12px $shadow-color;
        }
    }
}

::ng-deep .p-floatlabel label {
    color: $primary-purple !important;
    left: 0.75rem;
}

.strength-container {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .strength-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.85rem;
        color: $primary-purple;
    }

    ::ng-deep .p-progressbar {
        height: 6px;
        background-color: $accent-purple;
        border-radius: 10px;
    }

    ::ng-deep .p-button {
        background-color: white;

        &:hover {
            background-color: $accent-purple;
        }
    }
}

.social-auth-row {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 10px;

    .custom-social-btn {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: white;
        border: 1px solid $primary-purple;
        border-radius: 8px;
        padding: 12px 5px;
        cursor: pointer;
        transition: all 0.3s ease;

        img {
            width: 18px;
            height: 18px;
        }

        span {
            color: $primary-purple;
            font-size: 0.85rem;
            font-weight: 500;
            white-space: nowrap;
        }

        &:hover {
            background-color: $accent-purple;
            border-color: $primary-purple;
            transform: translateY(-1px);
            box-shadow: 0 4px 8px $shadow-color;
        }

        &:active {
            background-color: $accent-purple;
            transform: translateY(0);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px $shadow-color;
        }
    }
}

::ng-deep .p-button.p-button-outlined {
    border-color: $accent-purple !important;
    color: $primary-purple !important;

    &:hover {
        background: $accent-purple !important;
        border-color: $primary-purple !important;
        color: $primary-purple !important;
    }
}

.divider-text {
    color: $primary-purple;
    font-size: 0.85rem;
    padding: 0 10px;
}

::ng-deep .p-message {
    margin-top: 4px;

    .p-message-text {
        font-size: 0.7rem;
        font-weight: 500;
        color: $error-red !important;
    }

    &.p-message-error {
        background: transparent !important;
        border: none !important;
        padding: 0 0 0 4px !important;
    }
}

::ng-deep .p-floatlabel {
    input.ng-invalid.ng-dirty {

        &,
        &:focus {
            border-color: $error-red !important;
            box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.15) !important;
        }

        ~label {
            color: $error-red !important;
        }
    }

    .p-password.ng-invalid.ng-dirty {
        .p-password-input {

            &,
            &:focus {
                border-color: $error-red !important;
                box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.15) !important;
            }
        }

        ~label {
            color: $error-red !important;
        }
    }
}