<div class="box-content">

<h1>Accessibility Statement - Click Site</h1>
<br><br>
<b>1. General</b>

At Click Site, we strive to ensure that our services are accessible to people with disabilities, based on the belief that every person deserves the right to live with dignity, equality, comfort, and independence. Significant efforts have been invested in making the website easy to use and as accessible as possible.
<br><br>
<b>2. Website Accessibility</b>

This website complies with the requirements of the Equality of Rights for Persons with Disabilities (Accessibility Adjustments for Service) Regulations, 2013, and is implemented in accordance with the recommendations of the Israeli Standard (IS 5568) for web content accessibility at Level AA.
<br><br>
<b>3. Implemented Adjustments</b>


   
As part of the accessibility process, the following actions, among others, have been taken:
<ul>
    <li>
Keyboard Navigation: Full browsing capability using only the keyboard.
</li><li>
Color Contrast: Strict adherence to appropriate contrast ratios between text and background.
</li><li>
Screen Reader Compatibility: Use of semantic tags and alternative text (Alt Text) for assistive technologies.
</li><li>
Font Enlargement: The site supports display enlargement without compromising content structure.
</li><li>
Hierarchical Structure: Organized use of headings (H1-H6) for quick understanding of page content.
</li></ul>
<br>
<b>4. Accessibility Exclusions</b>
Despite our efforts to ensure full accessibility, certain components on the site—such as external AI code snippets, third-party plugins, or embedded content—may not be fully accessible as they are not under our direct control. We are committed to monitoring these components and working with providers to improve the user experience whenever possible
<br><br>
<b>5. Accessibility Coordinator Details</b>
If you have encountered an accessibility issue or have a suggestion for improvement, please contact us:
<br>
<span>
<b >Coordinator Name:</b>Click Site
<br>
<b>Email:</b> ClickSite@gmail.com
</span>
</div>


