$bg-color: #f9f5ff;
$primary-purple: #8139eb;
$accent-purple: #F6E8FE;
$shadow-color: rgba(157, 88, 245, 0.2);
$grad: linear-gradient(135deg, $primary-purple 0%, #bd00cb 100%);

.menu-container{
    background-color: $bg-color;
    padding: 5px 7px;
    box-shadow: 0 8px 30px $shadow-color;
}
a{
    text-decoration: none!important;
    color: inherit!important;
}

:host ::v-deep .p-menubar {
    border:#bd00cb, 1px solid;  
    background-color: white; 
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    position: relative;

    /* מרכוז ה-Items (Home, Catalog וכו') */
    .p-menubar-root-list {
        margin: 0 auto;
        display: flex;
        gap: 8px;
    }

    
    .p-menuitem-link {
        text-decoration: none !important;
        padding: 0.6rem 1.2rem;
        border-radius: 8px;
        transition: all 0.2s ease;

        &:hover {
            background-color: $accent-purple !important;
            .p-menuitem-text { color: $primary-purple !important; }
        }

        .p-menuitem-text {
            font-weight: 500;
            color: $primary-purple;
        }
    }
}

.user-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background: $grad;
    padding: 1.5px; 

    ::v-deep .p-avatar {
        background-color: $accent-purple !important;
        color: $primary-purple !important;
        font-weight: bold;
        border: 2px solid white;
    }
}

/* 2. עיצוב התפריט הנפתח (Dropdown Menu) */
body ::v-deep .custom-profile-menu.p-menu {
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 20px $shadow-color;
    width: 250px;
    padding: 0;

    .p-menu-list {
        padding: 0;
    }

    /* עיצוב כל שורה (מלבן) */
    .p-menuitem-link {
        display: flex;
        align-items: center;
        padding: 20px 20px !important;       /* הגבהת המלבן (גבוה יותר) */
        text-decoration: none !important;   
        transition: background 0.2s;
        outline: none;

        &:hover {
            background-color: $accent-purple!important;
        }

        .p-menuitem-icon {
            margin-right: 20px !important;   
            font-size: 1.2rem;
        }

        .p-menuitem-text {
            color: #463751;
            font-weight: 500;
            text-decoration: none !important;
        }
    }
}

:host ::v-deep a {
    text-decoration: none !important;
}



.brand-name {
    font-weight: 800;
    font-size: 1.5rem;
    background: $grad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}