<div class="footer-wrapper">
    <div class="footer-content">
        <div class="footer-section logo-section">
            <div class="logo">
                <img src="icon2.png" alt="Click-Site Logo">
            </div>
            <p class="description">
                From idea to website in seconds. Our smart platform distills precise prompts for
                professional web design—no coding skills needed. Just choose, copy, and build.
            </p>
        </div>

        <div class="footer-section">
            <h3>Support</h3>
            <a [routerLink]="['/contact']">Contact Us</a>
            <a [routerLink]="['/home']">How it Works</a>
            <a [routerLink]="['/platform-guides']">Platform Guides</a>
        </div>

        <div class="footer-section">
            <h3>Account</h3>
            <a [routerLink]="['/orders']">My Orders</a>
            <a [routerLink]="['/auth']">Login / Register</a>
            <a [routerLink]="['/cart']">Shopping Cart</a>
        </div>

        <div class="footer-section">
            <h3>Legal</h3>
            <a [routerLink]="['/terms-of-service']">Terms of Service</a>
            <a [routerLink]="['/home']">Refund Policy</a>
            <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
            <a [routerLink]="['/accessibility']">Accessibility</a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>2025 Click Site | All Rights Reserved. AI Website Building for Everyone.©</p>
    </div>
</div>
